/* :root {
    --cor-texto: #222;
    --super-info-bg: #122ab2;
    --menu-bg: #2c70ff;
    --menu-nav-hover: #122ab2;
    --sobre-border: #2c70ff;
    --sobre-p: #7c7c7c;
    --produtos-item-bg-h2: #f7f7f7;
    --produtos-item-color-h2: #a4a4a4;
    --preco-cor: #f7f7f7;
    --preco-item-h2: #a4a4a4;
    --preco-item-ul: #7c7c7c;
    --preco-item-li-after: #2c70ff;
    --preco-item-a: #222222;   
    --qualidade-item-h2: #a4a4a4;
    --qualidade-item-cor1: #ae81ff;
    --qualidade-item-cor2: #f9265e;
    --qualidade-item-cor3: #66d9eb;
    --qualidade-item-p: #7c7c7c;
    --newsletter-bg: #f7f7f7;
    --newsletter-h1: #a4a4a4;
    --newsletter-p: #7c7c7c;
    --newsletter-input: #7c7c7c;
    --newsletter-border: #2c70ff;
    --newsletter-form-button: #2c70ff;
    --footer-bg: #2c70ff;
    --footer-color: #122ab2;
} */